version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M
